html {
  // fix IE old versions bug with scale factor
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

body {
  font-size: map-get($font-size-map, large);
  color: $grayishBlue;
  font-weight: map-get($font-weight-map, regular);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

//flexbox

.flex {
  display: flex;

  &__jc-sb {
    justify-content: space-between;
  }
  &__jc-c {
    justify-content: center;
  }
  &__ai-c {
    align-items: center;
  }
}

//buttons

button,
.button {
  white-space: nowrap;
  border: 0;
  color: $white;
  padding: 0.9375rem 2.1875rem;
  border-radius: 3.125rem;
  background: linear-gradient(to right, $limeGreen, $brightCyan);
  cursor: pointer;
  font-size: map-get($font-size-map, small);
  font-weight: 400;
  transition: opacity 200ms ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

//visibility
.hide-for-mobile {
  //use function from mixin "breakpoint-down"
  @include breakpoint-down("medium") {
    display: none; // substitude the rule instead @content at-rule (see _mixins.scss)
  }
}

.hide-for-desktop {
  @include breakpoint-up("medium") {
    display: none;
  }
}
