.header__logo{
    margin: 45px 0 0 0;
    height: 33px;
    background:url(../../../images/logo.svg) no-repeat;
    width: 142px;
}
@media screen and (max-width:767px){
.header__logo{
    width: 103px;
    height: 24px;
    margin: 28px 0 31px 27px;
    background-size: contain;
    }
}